@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    padding-inline: 3%;
}

header ul li {
    font-weight: 500;
    font-size: 18px;
}

.active {
    color: #FF5252
}

.menu li:hover {
    color: #FF5252
}